.main {
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 4fr 1fr; 
    grid-template-areas: "b1 b2" "b3 b2";
    box-sizing: border-box;
}

.display{
    grid-area: b1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(#F0EBD5, white);
    overflow-y: auto;
    overflow-x: hidden;
}

.display .resultado{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 500px;
    text-align: center;
}

.display .resultado > div {
    width: calc(var(--colunas) - 8px);
    height: 130px;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.display .resultado > div img{
    margin-top: 20px;
}

.display .resultado > div p{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.display .resultado > div p i{
    font-size: 25px;
}

.item{
    grid-area: b3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
}

.item div{
    width: 100px;
    height: 100px;
}

.item button{
    width: 100px;
    height: 100px;
}

.item > div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item .blocoBase img{
    margin-top: 15px;
}

.item .blocoBase:hover {
    cursor: pointer; 
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.descricao{
    grid-area: b2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(#9BBAAB, #F0EBD5);
    position: relative;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.200);
}

.descricao > :first-child {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 10; 
    width: 80%;
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
}

.descricao > .show-alert {
    top: 10px;
    opacity: 1;
    pointer-events: auto;
}

.descricao .tentativas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    background-color: #F0EBD5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #30272d43;
    margin: 0px 5px;
}

.descricao .icons{
    padding: 20px;
    background-color: #F0EBD5;
    border-radius: 15px;
    margin: 0px 5px;
}

.descricao .icons p{
    font-size: 21px;
}

.descricao .icons i{
    padding: 5px;
}

.scroll::-webkit-scrollbar {
    width: 0px;
}
   
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.scroll::-webkit-scrollbar-thumb {
    background-color: #5D877A;
}

@media only screen and (max-width: 495px) {
    .display .resultado{
        scale: 0.7 !important;
    }
}

@media only screen and (max-width: 625px) {
    .display .resultado{
        scale: 0.8;
    }
}

@media only screen and (max-width: 954px) {
    .item{
        gap: 5px 0px;
    }

    .item > div {
        flex-direction: column-reverse;
    }

    .item :first-child,
    .item :last-child {
        flex-basis: 100%; 
    }

    .item :last-child {
        order: 1; 
    }

    .item :first-child{
        order: 2; 
    }

    .descricao .tentativas{
        padding: 5px;
    }

    .descricao .icons{
        padding: 5px;
    }

}


