.main{
    display: grid;
    grid-template-columns: 6fr 1fr; /*fr medida de fração*/
    grid-template-rows: 100vh;
    grid-template-areas: "b1 b2";
    gap: 5px 5px;
}

.display{
    grid-area: "b1";
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display .resultado{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    gap: 10px;
    padding: 10px;
    width: 500px;
    text-align: center;
    background-color: #d1a79b5c;
}

.display .resultado > div {
    width: calc(var(--colunas) - 8px);
    height: 130px;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.display .resultado > div img{
    margin-top: 20px;
}

.display .resultado > div p{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.display .resultado > div p i{
    font-size: 25px;
}

.display .item{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 10px;
    gap: 50px;
    padding: 15px;
    border: 3px solid #736151;
    border-radius: 30px;
}

.display .item > div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    text-align: center;
}

.display .item .blocoBase img{
    margin-top: 15px;
}

.display .item .blocoBase:hover {
    cursor: pointer; 
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.descricao{
    grid-area: "b2";
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.247);
}